---
layout: default
title: Projects
permalink: /projects.html
---

<div class="projectCardsContainer">
    {% for project in site.data.projects %}
    <div class="projectCard">
        <div class="projectCard--Header">
            <h1>{{project.name}}</h1>
            <p>{{project.subtitle}}</p>
        </div>
        {% if project.thumbnail != "none" %}
        <div class="projectCard--ProjectThumbnail">
            <img src={{project.thumbnail}}>
        </div>
        {% endif %}
        <div class="projectCard--toolsList">
            <ul>
                {% for tool in project.tools %}
                <li><div class="toolTag">{{tool}}</div></li>
                {% endfor %}
            </ul>
        </div>
        <div class="projectCard--Description">
            <ul>
                {% for description in project.descriptions %}
                <li>{{description}}</li>
                {% endfor %}
            </ul>
        </div>
        <!--<div class="projectCard--contributions">
            <ul>
                {% for contribution in project.contributions %}
                <li>{{contribution}}</li>
                {% endfor %}
            </ul>
        </div>-->
        <!--<button class="projectCard--LearnMoreButton literalDialogueBox__nextButton">
            Learn More
        </button>-->
    </div>
    {% endfor %}
</div>