.blogArchive {
    margin-left: 20%;
    font-family: Georgia;
    font-size: 18px;
}

.post {
    padding-left: 20%;
    padding-right: 20%;
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
}

::selection {
    background: rgb(68, 43, 114);
    color: rgb(252, 255, 236);
}