.blogArchive {
    margin-left: 20%;
    font-family: Georgia;
    font-size: 18px;
}

.post {
    padding-left: 20%;
    padding-right: 20%;
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
}