.projectCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    gap: 30px;
    margin-bottom: 40px;
}

.projectCard {
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(223, 209, 240);
    border: 4px rgb(68, 59, 102) solid;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(98, 40, 131, 0.342);
    transition: 0.3s;

    max-width: 400px;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.projectCard--Header {
    h1 {
        font-size: 28px;
        color: rgb(210, 246, 255);
        text-align: center;
    }
    p {
        text-align: center;
        color: rgb(202, 214, 247);
    }
    background-color: rgb(68, 59, 102);
    border-top-left-radius: 12px;;
    border-top-right-radius: 12px;
}

.projectCard--toolsList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    row-gap: 10px;
    column-gap: 5px;
    align-self: center;
    padding: 0;
}

.projectCard--toolsList li {
    align-self: flex-start;
}

.toolTag {
    padding: 8px;
    margin: 2px;
    background-color:#7955a7;
    box-shadow: 0 5px rgb(214, 167, 213);
    color: #fff;
    border-radius: 12px;
}

.projectCard--ProjectThumbnail img{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    border-top: rgb(68, 59, 102) 4px solid;
    border-bottom: rgb(68, 59, 102) 4px solid;
}

.projectCard--LearnMoreButton {
    float: right;
    width: max-content;
    align-self: flex-end;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(98, 40, 131, 0.342);
}

.projectCard--Description ul{
    padding-right: 40px;
    padding-bottom: 10px;
}

.projectCard--Description li {
    margin-bottom: 10px;
}