.projectCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    gap: 30px;
}

.projectCard {
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(223, 209, 240);
    border: 4px rgb(68, 59, 102) solid;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(98, 40, 131, 0.342);
    transition: 0.3s;

    max-width: 400px;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.projectCard--Header {
    h1 {
        font-size: 28px;
    }
    padding-left: 10px;
    padding-right: 10px;
}

.projectCard--toolsList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: space-evenly;
    list-style-type: none;
    align-self: flex-start;
    padding: 0;
}

.projectCard--toolsList li {
    align-self: flex-start;
}

.toolTag {
    padding: 5px;
    margin: 2px;
    background-color:rgb(68, 59, 102);
    color:rgb(238, 240, 209);
}

.projectCard--ProjectThumbnail img{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    border-top: rgb(68, 59, 102) 4px solid;
    border-bottom: rgb(68, 59, 102) 4px solid;
}

.projectCard--LearnMoreButton {
    float: right;
    width: max-content;
    align-self: flex-end;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(98, 40, 131, 0.342);
}